<div class="main-wrap">

  <div class="flex-xl-wrap cta-box">
    <div class="text">
      <h1 class="header">Create your own history</h1>
      <h5 class="subheader">We give an opportunity to create your own timeline with your important and inspiring or tiny and cute events.
        You can travel through time and enjoy your life moments with simple interface. Just try!</h5>
    </div>
    <button
      mat-button
      class="home-button"
      [routerLink]="['/authentication']"
    >
      Let's get it started!
    </button>

  </div>

</div>
