// colors
$primary-background-color: #fafafa;
$primary-color: #5D00FF;
$secondary-color: #6C7994;
$tertiary-color: #fb04fc;

$warn-color: #f44336;

// heights
$header-height: 65px;

// font-colors
$primary-font-color: #101010;
$secondary-font-color: #708090;
$tertiary-font-color: #838996;

//button-colors
$primary-button-color: #5D00FF;
$primary-button-hover-color: #6A00FF;
$primary-button-font-color: #ffffff;

$secondary-button-color: #6C7994;

// shadows
$primary-button-shadow: 0 0.3rem 0.6rem rgba(82,24,255,.5);
$secondary-button-shadow: 0 0.3rem 0.6rem rgba(108,121,148,.5);

$auth-animation-left-direction-delay: 600ms;
$auth-animation-right-direction-delay: 1000ms;
